#wrap{
	width:800px;
	margin:auto;
}

header{
	height:80px;
}

.login-box{
	width:300px;
	height:300px;
	border: 1px solid rgba(var(--b6a,219,219,219),1);
}

.join-box{
	width:300px;
	height:75px;
	border: 1px solid rgba(var(--b6a,219,219,219),1);
}

footer{
	height:75px;
}

footer > address{
	font-size:9px;
	color:gray;
}